.resources-box {
  display: flex;
  flex-wrap: wrap;
  background-color: lightgrey;
  margin: 20px 15%;
  padding: 0%;
  border-radius: 75px;
}

.resources-box a {
  flex: auto;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 50px;
  margin: 0px;
  border: 1px solid white;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.resources-box a:hover {
  background-color: white;
}